name: Build and Release

on:
  push:
    tags:
      - 'v*' # Runs when you push a version tag like v1.0.0

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22'

      - name: Install dependencies
        env:
          YARN_IGNORE_PREPARE: 'true'
        run: yarn install --frozen-lockfile

      - name: Build project
        run: yarn build

      - name: Upload release assets
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/*.js
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
